/* html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
} */
img{
    display: block;
}

:root {
    --primery-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-color: #404BBF;
    --back-graund-butt-color: #4D5AE5;
    --butt-wh-text: #ffffff;
}




body {
    background-color: var(--butt-wh-text);
    font-family: 'Roboto', sans-serif;
    color: var(--primery-text-color);
}
ul{
    list-style: none;
}
/* header */
.logo.link {
    color: var(--back-graund-butt-color);
    font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
        /* padding-top: 24px;
        padding-bottom: 24px; */
        margin-right: 76px;
}
.studio{
    color: var(--title-text-color);
}
.link{
    text-decoration: none;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        font-family: 'Roboto', sans-serif;
        color: var(--title-text-color);
        padding: 24px 0;
}
.link:hover,
.link:focus{
    color: var(--accent-color);
}
/* .logo:hover,
.logo:focus{

} */
.list{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    list-style: none;
    display: flex;
    align-items: center;
    /* gap: 24px; */
}
.list .menu{
    /* margin-right: 40px; */
    display: block;
}
.list .menu:last-child{
    margin-right: 0;
}
/* .list .menu:first-child{ */
    /* margin-left: 76px */ 

/* .list .menu + .menu{
    /* margin-left: 40px; */
/* } */ 

.site-nav .link {
    color: var(--title-text-color);
    font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
color: var(--accent-color);
}
.auth-nav{
    font-style: normal;
    margin-left: auto;
    gap: 40px;
    padding: 24px 0
}
.nav-list {
    color: var(--primery-text-color);
    font-family: 'Roboto';
    font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
}
.nav-list:hover,
.nav-list:focus{
    color: var(--accent-color);
}
.list{
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
/* gap: 24px; */
/* */
}
.sectionsones{
    gap: 24px;
}



.main-nav{
    display: flex;
    align-items: center;
    padding: 0 15px;
    
}
.page-header{
    border-bottom: 1px solid #e7e9fc;
    padding: 0 15px;
}




/* hero */
.hero-title{
    color:var(--butt-wh-text);
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 60px;
        text-align: center;
        letter-spacing: 0.02em;
        line-height: 1.07;
        margin-top: 0;
        margin-bottom: 48px;
        max-width: 496px;
        margin-left: auto;
        margin-right: auto;
    }
.hero{
    background-color: var(--title-text-color);
    text-align: center;
    height: 600px;
    padding: 188px 0
}

/* main index */



/* sectio 1 */
/* p */
.title-text {
    color: var(--primery-text-color);
    font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-top: 0;
        margin-bottom: 0;
        text-align: left;
}
 
/* sectio 2 */
/* .section-one{
    align-items: center;
} */
/* .section-one{
    width: calc((100% - 72px) / 4);
} */
.list .section-one {
    width: calc((100% - 72px) / 4)

}
.one{
    padding: 120px 0;
}




/* sectio 3 */
.two{
    /* margin-bottom: 72px; */
    padding-bottom: 120px;
}
.section-two{
    width: calc((100% - 48px) / 3);
}
/* sectio 4 */
.section-third{
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}
.work-list{
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.name-person{
    padding: 32px 16px
}




/* footer */
.foot{
    background-color: var(--title-text-color);
}
.foot-text{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
}
.studiof{
    color: #F4F4FD;
}









/* buttons */
button {
    color: var(--butt-wh-text);
    background-color: var(--back-graund-butt-color);
    border: 1px solid transparent;
}
.button-portf {
    display: inline-block;
    color: var(--back-graund-butt-color);
    background-color: #F4F4FD;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border-radius: 4px;
    min-width: 69px;
    min-height: 48px;
    padding: 12px 24px;
    text-align: center;
    border: 1px solid #e7e9fc;
}
.button-portf:hover,
.button-portf:focus {
    color: var(--butt-wh-text);
        background-color: #404BBF;
        cursor: pointer;
        border: 1px solid transparent;
}
.button-hero {
    display: inline-block;
    color: var(--butt-wh-text);
        background-color: var(--back-graund-butt-color);
        font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            border-radius: 4px;
            padding: 16px 24px;
            text-align: center;
            min-width: 169px;
            /* min-height: 56px; */
            display: block;
            height: 56px;
            border: none;
            cursor: pointer;
            margin-left: auto;
            margin-right: auto;
}
.button-hero:hover,
.button-hero:focus{
    background-color: var(--accent-color);
    cursor: pointer;
}


.butt{
    display: flex;
    justify-content: center;
    /* margin-top: 96px; */
    margin-bottom: 72px;
    gap: 24px;
}
.butt:last-child{
    margin-right: 0;
    
}
.list .button-portf{
margin-right: 24px;
align-items: center;

}




/* .list .menu {
    /* margin-right: 40px; */
    /* display: block;
    padding-top: 24px;
    padding-bottom: 24px;
} */

/* .list .menu:last-child{
    margin-right: 0;
}
.list .menu:first-child{
    margin-left: 76px;
}  */

/* .list .menu+.menu {
    margin-left: 40px;
} */ 



/* h2 */
.section-title {
    color: var(--title-text-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 72px;
}

/* h3 */
.title {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    margin-top: 0;
    margin-bottom: 8px;
    text-align: left;
}






/* .section{
    padding-top: 120px;
} */









.container{
    width: 1158px;
    outline: solid black 1px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    /* padding-left: 24px;
    padding-right: 24px; */
}














/* portf */
.portf{
    flex-wrap: wrap;
    /* justify-content: space-between; */
    
    gap: 24px;
    row-gap: 48px;
}

.portf .portf-item{
    /* width: 360px; */
    width: ((100%-48px) /3);
    /* margin-right: 24px;
    margin-bottom: 48px; */
}
/* .portf-item:nth-last-child(-n+3){
    margin-bottom: 120px;
} */

.portf-item:nth-child(3n){
    margin-right: 0;
}
.portf-item{
    width: calc((100% - 48px) / 3);
}

.porf-present{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}




.foot{
    padding: 100px 0;
}

.down{
    display: inline-block;
    margin-bottom: 16px;
    padding: 0;
}
.foot-text{
    width: 264px;
    text-align: left;
    margin: 0;
    padding: 0;
}







.portfolii{
    padding: 96px 0 120px;
}






.headnav{
    gap: 40px
}
.secta{
    gap: 24px;
}



.name{
    text-align: center;
}
.visually-hidden{
            position: absolute;
                width: 1px;
                height: 1px;
                margin: -1px;
                border: 0;
                padding: 0;
                white-space: nowrap;
                clip-path: inset(100%);
                clip: rect(0 0 0 0);
                overflow: hidden;
}